@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,600';

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  background-color: #f3f4f8;
}
::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	background-color: #0e2c47 !important;
}
::-webkit-scrollbar-thumb {
	background-color: #153e64;
	border-radius: 50px;
	border: 2px solid transparent;
	background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #196bb4;
  cursor: pointer;
}
*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
}
h2 {
  font-size: 22px;
  font-weight: 600;
  color: #000000;
  line-height: 28px;
  margin: 0;
}
p {
  font-size: 15px;
  font-weight: 400;
  color: #000000;
  line-height: 22px;
  margin: 0;
}
*:focus {
  outline:0;
}
.parent {
  position: relative;
}
.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrappar {
  margin: 0;
  padding: 0;
}
/* left site box Start */
.leftside-fixed {
  width: 280px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 28px 0 rgba(82,63,105,.05);
  background-color:#0e2c47;
  padding: 28px 0 0;
  transition: all 0.2s;
}
.left-menu-box {
  margin: 0;
  padding: 0 15px;
}
.left-menu-box a img {
  width: 25px;
}
.leftside-fixed .left-main {
  overflow-y: auto;
  padding: 0 3px 110px 15px;
  margin-top: 32px;
}
.left-menu {
  margin: 0;
  padding: 0;
}
.left-menu h2 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  font-weight: 300;
  margin: 0 0 30px 0;
}
.left-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.left-menu ul li {
  margin: 0;
  padding: 18px 0;
  border-bottom: solid 1px #384e62;
}
.left-menu ul li a {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: rgba(139, 167, 192, 1);
  text-decoration: none;
  width: max-content;
  transition: all 0.2s;
}
.left-menu ul li:first-child {
  padding-top: 0;
}
.left-menu ul li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
.left-menu ul li a:hover,
.left-menu ul li a:focus {
  color: #fff;
  padding-left: 8px;
}
.left-menu ul li a img {
  width: 24px;
}
.left-menu ul li a:hover img {
  filter: contrast(10);
}
.leftside-fixed .left-main .left-menu h2.second-title {
  margin-top: 62px;
  margin-bottom: 36px;
}
.quick-access {
  margin-top: 50px;
}
.quick-access .card {
  background-color: #ffffff;
  border-radius: 6px;
  border: 0;
  margin-bottom: 15px;
}
.quick-access .card:last-child {
  margin-bottom: 0;
}
.quick-access .card .card-header {
  background-color: #459be8;
  border-radius: 6px 6px 0 0;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  line-height: 24px;
  padding: 15px;
}
.quick-access .card .card-body {
  padding: 10px 15px 15px;
}
.quick-access .card .card-body ul.list-group {
  margin: 0;
  padding: 0;
}
.quick-access .card .card-body ul.list-group li {
  margin: 0;
  padding: 6px 0 6px 15px;
  border-bottom: 0;
  position: relative;
}
.quick-access .card .card-body ul.list-group li::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: #000;
  border-radius: 50px;
}
.quick-access .card .card-body ul.list-group li a {
  margin: 0;
  padding:0;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-weight: 400;
  text-decoration: none;
}
.leftside-fixed .bottom-log-out {
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 15px;
  color: #b0b4bc;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 8px;
  background-color: #0e2c47;
  padding:20px 15px 25px;
  transition: all 0.2s;
}
.leftside-fixed .bottom-log-out a img {
  width: 22px;
}
/* .leftside-fixed .bottom-log-out a:hover {
  transform: rotate(145deg);
} */
/* hide show Start */
.leftside-fixed.show {
  left: -280px;
  transition: all 0.2s;
}
.header-content.full-container {
  position: relative;
  width: calc(100% - 0px);
  left: 0;
  transition: all 0.2s;
}
.header-content.full-container .content {
  padding: 20px 14px;
}
.header-content .header .header-menu .menu-icon {
  display: none;
}
.header-content.full-container .header {
  padding: 27px 15px;
}
.header-content.full-container .header .header-menu {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
}
.header-content.full-container .header .header-menu .menu-icon {
  display: block;
}
.header-content.full-container .header .header-menu .menu-icon {
  display: block;
}
.header-content.full-container .header .header-menu .menu-icon a img {
  display: block;
  width: 25px;
}
/* hide show End */

/* left site box End */
.header-content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: all 0.2s;
}
.header-content .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#0e2c47;
  padding:15px 15px 15px 0;
  margin: 0;
  color: #fff;
}
.header-content .header h1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
  color: #ffffff;
  letter-spacing: 1px;
  margin: 0;
}
.header-content .header .search-right-box {
  display: flex;
  align-items: center;
}
.header-content .header .search-right-box .search-header {
  margin-right: 40px;
}
.header-content .header .search-right-box .search-header .input-group input {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px rgba(105, 119, 133, 1);
  border-radius: 0;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: #ffffff;
  padding: 10px;
}
.header-content .header .search-right-box .search-header .input-group input:focus,
.header-content .header .search-right-box .search-header .input-group input:focus-visible {
  outline: 0;
  box-shadow: none;
}

.header-content .header .search-right-box .search-header .input-group input::placeholder {
  color: #fff !important;
}
.header-content .header .search-right-box .search-header .input-group button {
  border: 0;
  border-bottom: solid 1px rgba(105, 119, 133, 1);
  border-radius: 0;
  padding: 10px;
}
.header-content .header .search-right-box .user-section a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50px;
  padding: 8px;
  text-decoration: none;
}
.header-content .header .search-right-box .user-section a img {
  width: 20px;
}
.header-content .header-white-box {
  padding: 25px 20px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.header-content .header-white-box .header-center-title {
  margin: 0 auto;
}
.header-content .header-white-box .header-center-title h2 {
  font-size: 26px;
  line-height: 32px;
  font-weight: 600;
  color: #000;
  text-align: center;
}
.header-content .header-white-box .header-right-title {
  align-self: flex-end;
}
.header-content .header-white-box .header-right-title p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #000;
  text-align: right;
  margin-bottom: 0;
}
.header-content .container-box {
  padding:0 8px 20px;
}
.header-content .container-box .row {
  display: flex;
  justify-content: center;
  grid-row-gap: 20px;
  text-align: center;
}
.count-backlink-section {
  display: grid;
  grid-row-gap: 20px;
  height: 100%;
}
.site-health-section {
  background-color: #ffffff;
  border: solid 1px #d1d1d1;
  padding: 25px;
  border-radius: 10px;
  height: 100%;
}
.site-health-content {
  max-width: 280px;
  margin: 0 auto;
}
.count-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.count-section .count-box {
  background-color: #ffffff;
  border: solid 1px #d1d1d1;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  justify-content:center;
  grid-column-gap: 17px;
  align-items: center;
  height: 100%;
}
.count-section .count-box span {
  margin: 0;
  font-size: 50px;
  line-height: 61px;
  font-weight: 300;
  color: rgba(69, 155, 232, 1);
}
.count-section .count-box p {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 0;
}
.count-section .count-box.implemented-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.count-section .count-box .implemented-list {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 17px;
}
.count-section .count-box .implemented-list span {
  font-size: 36px;
  line-height: 42px;
  font-weight: 300;
}
.count-section .count-box .implemented-list p {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 0;
}
.backlink-section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.backlink-section .backlink-list {
  background-color: #ffffff;
  border: solid 1px #d1d1d1;
  padding: 15px;
  border-radius: 10px;
  display: grid;
  grid-row-gap: 10px;
  height: 100%;
}
.backlink-section .backlink-list h2 {
  font-size: 15px;
  font-weight: 600;
  color: #969696;
  line-height: 20px;
  margin: 0;
}
.backlink-section .backlink-list h3 {
  font-size: 28px;
  font-weight: 300;
  line-height: 34px;
  color: #000;
}
.backlink-section .backlink-list span {
  font-size: 14px;
}

.traffic-analytics-section {
  background-color: #ffffff;
  border: solid 1px #d1d1d1;
  padding: 25px;
  border-radius: 10px;
}
.traffic-analytics-section img {
  width: 100%;
}
.keyword-rankings-section {
  background-color: #ffffff;
  border: solid 1px rgba(209, 209, 209, 1);
  padding: 30px;
  border-radius: 10px;
}
.technical-actionable-section {
  display: grid;
  grid-row-gap: 20px;
  height: 100%;
}
.technical-box,
.actionable-box {
  background-color: #ffffff;
  border: solid 1px rgba(209, 209, 209, 1);
  padding: 30px;
  border-radius: 10px;
}
.technical-box h2,
.actionable-box h2 {
  margin: 0 0 15px 0;
}
.technical-box ul.technical-list {
  list-style: none;
  margin:0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
  grid-gap: 15px;
}
.technical-box ul.technical-list li {
  margin: 0;
  padding: 0 0 0 23px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
}
.technical-box ul.technical-list li.text-danger {
  color: #dc2a2a;
}
.technical-box ul.technical-list li.text-warning-emphasis {
  color: #cd9114;
}
.technical-box ul.technical-list li.text-success {
  color: #16a34a;
}
.technical-box ul.technical-list li.text-danger::before,
.technical-box ul.technical-list li.text-warning-emphasis::before,
.technical-box ul.technical-list li.text-success::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 11px;
  height: 11px;
  background-color: #dc2a2a;
  border-radius: 20px;
}
.technical-box ul.technical-list li.text-warning-emphasis::before {
  background-color: #cd9114;
}
.technical-box ul.technical-list li.text-success::before {
  background-color: #16a34a;
}
.actionable-box ul.actionable-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
.actionable-box ul.actionable-list li {
  margin: 12px 0;
  padding: 0 0 0 16px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #000;
  position: relative;
}
.actionable-box ul.actionable-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 7px;
  height: 7px;
  background-color: #000;
  border-radius: 20px;
}
.audience-overview-section {
  background-color: #ffffff;
  border: solid 1px #d1d1d1;
  padding: 25px;
  border-radius: 10px;
}
.header-content .header-white-box .header-center-title h2,
.audience-overview-section h2,
.crawled-pages-box h2,
.technical-box h2,
.actionable-box h2,
.keyword-rankings-section h2 {
  font-size: 22px;
  font-weight: 600;
  color: #000000;
  line-height: 28px;
  margin: 0;
  text-align: left;
}
.audience-overview-main {
  display: flex;
  flex-direction: column;
  grid-row-gap: 50px;
}
.audience-overview-main .overview-box {
  display: grid;
  grid-template-columns: 1fr 486px;
  grid-column-gap: 20px;
}
.audience-overview-main .overview-box .overview-left-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}
.audience-overview-main .overview-box .overview-right-box {
  margin: 0 auto;
}

.users-country-left,
.sessions-right {
  background-color: #ffffff;
  border: solid 1px #d1d1d1;
  padding: 15px;
  border-radius: 10px;
  height: 100%;
}

.crawled-pages-box {
  background-color: #ffffff;
  border: solid 1px #d1d1d1;
  padding: 15px;
  border-radius: 10px;
  height: 100%;
}
.crawled-pages-main .chart text#SvgjsText1745 {
  display: none;
}
.crawled-pages-main {
  margin: 0 auto;
  display: grid;
  text-align: center;
  justify-content: center;
}
.crawled-pages-box h2 {
   text-align: center;
}
.crawled-pages-box ul.crawled-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.crawled-pages-box ul.crawled-list li {
  padding: 0 0 0 16px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #000;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.crawlability-section {
  display: grid;
  grid-row-gap: 20px;
}
.crawlability-section .crawlability-main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  margin: 0;
}
.crawlability-section .crawlability-count-box {
  background-color: #ffffff;
  border: solid 1px #d1d1d1;
  padding: 18px;
  border-radius: 10px;
}
.crawlability-section .crawlability-count-box h2 {
  font-size: 15px;
  font-weight: 600;
  color: #969696;
  line-height: 20px;
  margin: 0;
}
/* .crawlability-section .crawlability-count-box .crawlability-count {
  width: 100px;
} */
.social-competitors-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 0;
}
.social-section,
.competitors-section {
  background-color: #ffffff;
  border: solid 1px #d1d1d1;
  padding: 18px;
  border-radius: 10px;
}
.social-section h2,
.competitors-section h2 {
  font-size: 22px;
  font-weight: 600;
  color: #000000;
  line-height: 28px;
  margin: 0 0 25px 0;
}
.table-competitors-section table thead tr th {
background-color: #d1e6f9;
padding: 8px 12px;
font-size: 12px;
line-height: 14px;
font-weight: 500;
}
.table-competitors-section table tbody tr td {
  padding: 6px 12px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  }
.table-competitors-section .table-striped>tbody>tr:nth-of-type(odd)>* {
  background-color: rgba(209, 227, 245, 0.3);
}
.table-competitors-section .table-hover>tbody>tr:hover>* {
  background-color: rgba(209, 227, 245, 0.3);
}

/* Product dashboard page Start */
.bg-rounded {
  background-color: #ffffff;
  border: solid 1px #d1d1d1;
  padding: 20px;
  border-radius: 10px;
}
.product-descriptions-section {
  text-align: left;
  padding:25px 20px !important;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  line-height: 28px;
  margin: 0;
}
.product-data-table {
  text-align: left;
}
.seo-checker-data-table.product-data-table .table-section table thead tr th {
  background-color: #fff;
}
.seo-checker-data-table.product-data-table .table-section table thead tr th:first-child {
  background-color:rgba(228, 228, 228, 1);
}
.seo-checker-data-table.product-data-table .table-section table tbody tr td {
  white-space: normal;
  background-color: #fff;
  padding:12px 15px;
}
.seo-checker-data-table.product-data-table .table-section table tbody tr td:first-child {
  background-color: rgba(242, 242, 242, 1);
} 
.seo-checker-data-table.product-data-table .table-section .dt-container .dt-layout-row:first-child {
  display: none;
}
.seo-checker-data-table.product-data-table .table-section table thead tr th:hover {
  outline: 0;
  border: 0;
  border-top: solid 1px #d1d1d1;
  border-bottom: solid 1px #d1d1d1;
}
.seo-checker-data-table.product-data-table .table-section #product-dashboard-table_wrapper .dt-layout-cell.dt-layout-full {
  border-radius: 10px;
  border: solid 1px #c9c9c9;
  border-bottom: 0;
  border-top: 0;
  overflow-x: auto;
}
.seo-checker-data-table.product-data-table .table-section #product-dashboard-table_wrapper .dt-layout-cell.dt-layout-full table tbody tr td a.link {
  background-color: transparent;
}
.seo-checker-data-table.product-data-table .table-section #product-dashboard-table_wrapper .dt-layout-cell.dt-layout-full table tbody tr td a {
  background-color: rgba(69, 155, 232, 1);
  border-radius: 5px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 600;
  padding: 15px;
  color: #fff;
  white-space: nowrap;
}

.seo-checker-data-table.product-data-table .table-section #product-dashboard-table_wrapper .dt-layout-cell.dt-layout-full::-webkit-scrollbar {
	height: 10px;
}
.seo-checker-data-table.product-data-table .table-section #product-dashboard-table_wrapper .dt-layout-cell.dt-layout-full::-webkit-scrollbar-track {
	background-color: #0e2c47 !important;
}
.seo-checker-data-table.product-data-table .table-section #product-dashboard-table_wrapper .dt-layout-cell.dt-layout-full::-webkit-scrollbar-thumb {
	background-color: #fff;
	border-radius: 50px;
	border: 2px solid transparent;
	background-clip: content-box;
}
.seo-checker-data-table.product-data-table .table-section #product-dashboard-table_wrapper .dt-layout-cell.dt-layout-full::-webkit-scrollbar-thumb:hover {
	background-color: #196bb4;
  cursor: pointer;
}

/* SEO report Start */
.seo-report-section {
  margin: 0;
}
.seo-report-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}
.seo-report-list .seo-report-box {
  background-color: #ffffff;
  border: solid 1px #d1d1d1;
  padding:40px 30px;
  border-radius: 3px;
  border-bottom: solid 3px #459be8;
}
.seo-report-list .seo-report-box h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: #459be8;
  text-align: left;
  margin: 0;
}
.seo-report-list .seo-report-box p {
  font-size: 17px;
  line-height: 22px;
  font-weight: 400;
  color: #000;
  text-align: left;
  margin: 16px 0 0 0;
}
.accordion-section {
  text-align: left;
  margin: 0;
}
.accordion-section .accordion .accordion-item {
  margin-bottom: 20px;
  border-radius:10px;
}
.accordion-section .accordion .accordion-item h2.accordion-header button.accordion-button {
  background-color: #459be8;
  border-radius: 10px 10px 0 0;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
  font-weight: 600;
  padding: 26px 30px;
}
.accordion-section .accordion .accordion-item h2.accordion-header button.accordion-button.collapsed {
  border-radius: 10px;
}
.accordion-section .accordion .accordion-item h2.accordion-header button.accordion-button::after {
  filter: invert(1) brightness(2);
  display: none;
}
.accordion-section .accordion .accordion-item h2.accordion-header button.accordion-button:focus,
.accordion-section .accordion .accordion-item h2.accordion-header button.accordion-button:focus-visible {
  box-shadow: none;
}
.accordion-section .accordion .accordion-item .accordion-collapse .accordion-body {
  padding: 0;
}
.accordion-section .accordion .accordion-body .accordion-table table {
  margin-bottom: 0;
  border-radius: 10px;
  overflow: hidden;
  border: solid 1px #cdcdcd;
}
.accordion-section .accordion .accordion-body .accordion-table table tbody th,
.accordion-section .accordion .accordion-body .accordion-table table tbody td {
  padding: 18px;
  vertical-align: middle;
}
.accordion-section .accordion .accordion-body .accordion-table table tbody th {
  width: 190px;
  background-color: #f0f8ff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  padding-left: 30px;
}
.accordion-section .accordion-discription {
  margin-bottom: 15px;
}
.accordion-section .accordion-discription ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.accordion-section .accordion-discription ul li {
  margin:0;
  padding: 20px 30px;
  border-bottom: solid 1px #d1d1d1;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  color: #000;
}
.accordion-section .accordion-discription ul li:last-child {
  border-bottom: 0;
}
/* Crawler dashboard page Start */
.crawler-dashboard-section {
  margin-bottom: 48px;
}
.crawler-dashboard-section table {
  border-radius: 10px;
  overflow: hidden;
}
.second-table-section {
  background-color: #fff;
  border-radius: 10px!important;
  overflow: hidden;
}
h3.second-table {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  color: #000;
  margin-bottom: 24px;
  padding: 0;
  text-align: left;
}
.second-table-section table {
  margin-bottom: 0;
}
.crawler-dashboard-section table thead tr th,
.second-table-section table thead tr th {
  background-color: rgba(210, 230, 250, 1);
  font-size: 17px;
  line-height: 14px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  padding: 21px 25px;
  text-align: left;
}
.crawler-dashboard-section table thead tr th:nth-child(2) {
  border-left: solid 2px rgba(255, 255, 255, 1);
  padding-left: 95px;
  padding-right: 20px;
}
.crawler-dashboard-section table tbody tr td,
.second-table-section table tbody tr td {
  padding: 24px 25px;
  font-size: 15px;
  line-height: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-align: left;
  white-space: nowrap;
}
.second-table-section table thead tr th,
.second-table-section table tbody tr td {
  padding: 22px 20px;
}
.second-table-section table tbody tr td a {
  font-size: 15px;
  line-height: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-align: left;
  text-decoration: none;
  word-break: break-word;
}
.crawler-dashboard-section table tbody tr td:nth-child(2),
.second-table-section table tbody tr td:nth-child(2) {
  border-left: solid 2px rgba(210, 230, 250, 1);
  padding-left: 116px;
  padding-right: 20px;
}
.crawler-dashboard-section .table-striped>tbody>tr:nth-of-type(odd)>*,
.second-table-section .table-striped>tbody>tr:nth-of-type(odd)>* {
  --bs-table-color-type: #ffffff;
  --bs-table-bg-type: #ffffff;
}
.crawler-dashboard-section .table-striped>tbody>tr:nth-of-type(even)>*,
.second-table-section .table-striped>tbody>tr:nth-of-type(even)>* {
  --bs-table-color-type: var(--bs-table-striped-color);
  --bs-table-bg-type: rgba(209, 227, 245, 0.3);
}
/* Pagination Start*/
.pagination-section {
  padding: 40px 0;
  display: flex;
  justify-content: center;
}
.pagination-section ul.pagination {
  border-radius: 0;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  grid-column-gap: 10px;
}
.pagination-section ul.pagination li {
  margin: 0;
  padding: 9px 17px;
  border-radius: 5px;
  background-color: rgba(135, 145, 154, 1);
  color: #fff;
  cursor: pointer;
}
.pagination-section ul.pagination li a {
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}
.pagination-section ul.pagination li.active {
  background-color: rgba(69, 155, 232, 1);
}
/* Pagination End*/
.crawler-dashboard-section .table-responsive::-webkit-scrollbar,
.second-table-section .table-responsive::-webkit-scrollbar {
	height: 10px;
}
.crawler-dashboard-section .table-responsive::-webkit-scrollbar-track,
.second-table-section .table-responsive::-webkit-scrollbar-track {
	background-color: #0e2c47 !important;
}
.crawler-dashboard-section .table-responsive::-webkit-scrollbar-thumb,
.second-table-section .table-responsive::-webkit-scrollbar-thumb {
	background-color: #fff;
	border-radius: 50px;
	border: 2px solid transparent;
	background-clip: content-box;
}
.crawler-dashboard-section .table-responsive::-webkit-scrollbar-thumb:hover,
.second-table-section .table-responsive::-webkit-scrollbar-thumb:hover {
	background-color: #196bb4;
  cursor: pointer;
}
/* On Page SEO Checker Start */
.seo-checker-section {
  text-align: left;
  padding: 25px 20px !important;
}
.seo-checker-section p {
  font-size: 17px;
  line-height: 22px;
  font-weight: 500;
  color: rgba(150, 150, 150, 1);
  padding: 0;
  margin: 0;
}
.books-form {
  max-width: 300px;
  margin-top: 20px;
}
.books-form form input {
  border-radius: 10px;
  border: 1px solid rgba(209, 209, 209, 1);
}
.books-form form button {
  border-radius: 5px;
  background-color: rgba(69, 155, 232, 1);
  padding: 10px 18px;
  font-size: 13px;
  line-height: 22px;
  font-weight: 500;
  border: 0;
}
.seo-checker-data-table {
  text-align: left;
}
.seo-checker-data-table .table-heading {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(69, 155, 232, 1);
  padding: 20px 30px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  color: #fff;
}
.seo-checker-data-table .table-section .dt-container .dt-layout-row:first-child {
  padding: 10px 30px;
  position: relative;
}
.seo-checker-data-table .table-section .dt-container .dt-layout-row:first-child .dt-layout-start {
  margin-right: 15px;
}
.seo-checker-data-table .table-section .dt-container .dt-layout-row:first-child .dt-layout-start select {
  padding: 8px 0 10px 10px;
  margin-right: 15px;
  border-radius: 6px;
  background-color: rgba(245, 245, 245, 1);
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(105, 119, 133, 1);
}
.seo-checker-data-table .table-section .dt-container .dt-layout-row:first-child .dt-layout-start label {
  font-size: 17px;
  line-height: 22px;
  font-weight: 400;
  color: rgba(105, 119, 133, 1);
 }
.seo-checker-data-table .table-section .dt-container .dt-layout-row:first-child .dt-layout-end .dt-search label {
  font-size: 17px;
  line-height: 22px;
  font-weight: 400;
  color: rgba(105, 119, 133, 1);
  margin-right: 10px;
}
.seo-checker-data-table .table-section .dt-container .dt-layout-row:first-child .dt-layout-end .dt-search input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid rgba(105, 119, 133, 0.2);
  position: relative;
}
.table-section table {
  border-collapse: collapse;
  width: 100%;
}
.table-section #table-first_wrapper .dt-layout-table {
  overflow-y: auto;
}
.table-section table thead tr th {
  background-color: rgba(240, 248, 255, 1);
  padding: 25px 33px;
  font-size: 15px;
  line-height: 19px;
  font-weight: 600;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.table-section table thead tr th:first-child {
  width: 130px;
  text-align: center;
  border-right: solid 1px rgba(217, 217, 217, 1);
}
.table-section table thead tr th:hover {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-left: solid 1px rgba(240, 248, 255, 1);
  border-right: solid 1px rgba(240, 248, 255, 1);
}
.table-section table.dataTable thead > tr > th:first-child.dt-orderable-asc span.dt-column-order {
  position: absolute;
  left: 26px;
  top: 0;
  bottom: 0;
  width: 12px;
}
.table-section table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order, 
.table-section table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order, 
.table-section table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order, 
.table-section table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order, 
.table-section table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order, 
.table-section table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order, 
.table-section table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order, 
.table-section table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order {
  position: absolute;
  left: 12px;
}
.table-section table tbody tr td:first-child {
  border-right: solid 1px rgba(217, 217, 217, 1);
  text-align: center;
}
.table-section table tbody tr td {
 padding-top: 15px;
 padding-bottom: 15px;
 font-size: 15px;
 line-height: 22px;
 font-weight: 400;
}
.table-section table tbody tr td a {
  color: rgba(69, 155, 232, 1);
  text-decoration: none;
}

.table-section table tbody tr td:nth-child(2) {
  padding-left: 15px;
}
.seo-checker-data-table .table-section .dt-container .dt-layout-row:last-child .dt-layout-start {
  display: none;
}
/* database table pagination Start*/
.seo-checker-data-table .table-section .dt-container .dt-layout-row:last-child .dt-layout-end {
  justify-content: center;
  margin: 11px auto 40px;
}
.seo-checker-data-table .table-section .dt-container .dt-layout-row:last-child .dt-layout-end .dt-paging nav {
  position: relative;
  display: flex;
  justify-content: center;
  grid-column-gap: 10px;
}
.seo-checker-data-table .table-section .dt-container .dt-layout-row:last-child .dt-layout-end .dt-paging nav button.previous,
.seo-checker-data-table .table-section .dt-container .dt-layout-row:last-child .dt-layout-end .dt-paging nav button.next {
  display: none !important;
}
.seo-checker-data-table .table-section .dt-container .dt-layout-row:last-child .dt-layout-end .dt-paging nav button.first {
  cursor: pointer;
 }

.seo-checker-data-table .table-section .dt-container .dt-layout-row:last-child .dt-layout-end .dt-paging nav button.last {
  cursor: pointer;
  position: relative;
}
.seo-checker-data-table .table-section .dt-container .dt-layout-row:last-child .dt-layout-end .dt-paging nav button.current {
  background-color: rgba(69, 155, 232, 1);
  border-radius: 5px;
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: none;
  color: #fff !important;
  padding: 9px 17px;
  border: 0;
}
.seo-checker-data-table .table-section .dt-container .dt-layout-row:last-child .dt-layout-end .dt-paging nav button.current:focus,
.seo-checker-data-table .table-section .dt-container .dt-layout-row:last-child .dt-layout-end .dt-paging nav button.current:focus-visible {
box-shadow: none;
}
.seo-checker-data-table .table-section .dt-container .dt-layout-row:last-child .dt-layout-end .dt-paging nav button.dt-paging-button {
  background-color: rgba(69, 155, 232, 1);
  border-radius: 5px;
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: none;
  color: #fff !important;
  padding: 9px 17px;
  border: 0;
}
.seo-checker-data-table .table-section .dt-container .dt-layout-row:last-child .dt-layout-end .dt-paging nav button.first,
.seo-checker-data-table .table-section .dt-container .dt-layout-row:last-child .dt-layout-end .dt-paging nav button.last {
  background: rgba(135, 145, 154, 1);
}
/* database table pagination End */
.traffic-analytics-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.traffic-analytics-list .traffic-analytics-box {
  border-right: solid 1px #d1d1d1;
  padding: 15px;
  display: grid;
  grid-row-gap: 5px;
}
.traffic-analytics-list .traffic-analytics-box:last-child {
  border-right: 0;
}
.traffic-analytics-list .traffic-analytics-box h2 {
  font-size: 15px;
  font-weight: 600;
  color: #969696;
  line-height: 20px;
  margin: 0;
}
.traffic-analytics-list .traffic-analytics-box h3 {
  font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    color: #000;
}
.traffic-analytics-list .traffic-analytics-box span {
  font-size: 14px;
}