<div class="site-audit-section">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-end">
                <a href="/audit/addSiteAudit" class="btn-default">Add New Audit</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="seo-checker-data-table table-first">
                    <div class="table-section">
                        <div class="site-audit-table">
                        <div class="table-responsive">
                            <table id="datatables-reponsive" class="table table-striped defaultDataTable"
                                style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Audit Id</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                        <th>Generate Seo Report</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% allPages.forEach(function(item) { %>
                                        <tr>
                                            <td>
                                                <%= item.audit_id %>
                                            </td>
                                            <td class="audit_status">
                                                <%= item.status %>
                                            </td>
                                            <td>
                                                <% if(item.status=='Completed' ) { %>
                                                    <a href="/audit/viewSiteAudited?id=<%= item.id %>" target="_blank">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            class="feather feather-external-link align-middle me-2">
                                                            <path
                                                                d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6">
                                                            </path>
                                                            <polyline points="15 3 21 3 21 9"></polyline>
                                                            <line x1="10" y1="14" x2="21" y2="3"></line>
                                                        </svg>
                                                    </a>
                                                    <% }else if(item.status=='Pending'){ %>
                                                        <a href="#" class="btn-default run_audit">Add New Audit</a>
                                                    <% } %> 
                                            </td>

                                            <td>
                                                <% if(item.status=='Completed' && item.site_audit_status=='Pending' ) { %>  
                                                    <a href="#" class="btn-default run_site_audit_report">Generate Seo Report</a>
                                                <% }else if(item.site_audit_status=='Running'){%> 
                                                    <%= item.site_audit_status %>
                                                <% } %> 
                                            </td>

                                        </tr>
                                        <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
<script>
    $( document ).ready(function() {
        var anchors = $('.audit_status'), counter = 0;
        var interval;
        var anchors_data = ""; 
        anchors.each(function() {
           
            if($(this).text().trim() == 'Pending'){
                anchors_data = $(this).text().trim(); 
            }
        });
        interval = setInterval(function(){
            if(anchors_data == 'Pending'){
                window.location.reload();
            }else{
                clearInterval(interval);
            }
        }, 15000);
        let table = new DataTable('.defaultDataTable', {
            pageLength: 25,
            responsive: true
        });

        $(document).on("click",".run_audit",function() {
            $.ajax({
                url: "/cron/siteAuditCron",
                cache: false,
                success: function(){
                    console.log("Done");
                }
            });
        });

        $(document).on("click",".run_site_audit_report",function() {
            $.ajax({
                url: "/cron/generateSeoReportCron",
                cache: false,
                success: function(){
                    console.log("Done");
                }
            });
        });
            

    });
</script>
