<div class="row">
    <div class="col-md-12">
      <div class="keywords-rank-checker-section bg-rounded">
        <div class="keywords-rank-checker-content">
          <p>Check what rank your domain have on a specific keyword in Google among the top 100 search results in Google.</p>
        <ol class="keywords-rank-checker-list">
          <li>Enter keyword</li>
          <li>Add domain</li>
          <li>Click the "Check rank" button</li>
          <li>View rank in top 100 results</li>
        </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mt-3">
      <div class="keywords-rank-checker-form-main">
        <div class="keywords-rank-checker-form">
          <form>
            <div class="mb-3">
              <input type="text" name="Books" class="form-control" id="books" placeholder="Books a million" aria-describedby="books">
            </div>
            <div class="mb-3">
              <input type="text" name="Booksamillion" class="form-control" id="booksamillion" placeholder="www.booksamillion.com" aria-describedby="booksamillion">
            </div>
            <div class="mb-3" style="display: none;">
              <label for="county" class="form-label">Select a county:</label>
              <select class="form-select form-select-lg" aria-label="Large select">
                <option selected>United State</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Check ranking</button>
          </form>
          <div class="keywords-rank-table">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Position</th>
                    <th scope="col">Organic results</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td colspan="2">BAM! Books, Toys & More | Books-A-Million Online Book Store <br>
                      <a href="#" target="_blank">https://www.booksamillion.com/</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="mt-3">
            <p class="text-warning-emphasis">Want search volume or advanced Al-based keyword tools? Take our platform for a spin (it's free to try)</p>
          </div>
        </div>
      
        <div class="county-box">
          <label for="county" class="form-label">Select a county:</label>
          <select class="form-select form-select-lg" aria-label="Large select">
            <option selected>United State</option>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
          </select>
        </div>
      </div>
    </div>
  </div>