<div class="row">
  <!-- SEO AI Assistant Start -->
  <div class="col-md-12 px-0">
    <div class="header">
      <div class="header-menu">
        <div class="menu-icon">
          <a href="#" id="menu_icon_small"><img src="/theme_assets/images/menu-icon.svg" alt="menu icon"></a>
        </div>
        <h1>SEO AI Assistant</h1>
      </div>
      <div class="search-right-box">
        <div class="search-header">
          <div class="input-group">
            <input type="text" class="form-control" id="search" name="search" placeholder="Search..." aria-label="Search" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">
            <img src="/theme_assets/images/search-icon.svg" alt="">
            </button>
          </div>
        </div>
        <div class="user-section">
          <a href="#"><img src="/theme_assets/images/user.svg" alt=""></a>
        </div>
      </div>
    </div>
  </div>
  <!-- SEO AI Assistant End -->
  <!-- Header white box Start -->
  <div class="header-white-box">
    <div class="header-center-title">
      <h2>
        <% if (typeof pageTitle !== 'undefined'   && pageTitle && pageTitle !=='') { %>
          <%- pageTitle %>
        <% } else { %>
          SEO
        <% }%>
      </h2>
    </div>
    <!-- <div></div>
    <div class="header-center-title">
      <h2>SEO</h2>
    </div>
    <div class="header-right-title">
      <p>Page Crawled - <strong>70</strong></p>
    </div> -->
  </div>
  <!-- Header white box End -->
</div>