<div class="leftside-fixed">
    <div class="left-menu-box">
        <a href="#" id="menu_icon_full"><img src="/theme_assets/images/menu-icon.svg" alt="menu icon"></a>
    </div>
    <div class="left-main">
        <div class="left-menu">
            <h2>Pages</h2>
            <ul>
                <li><a href="/dashboard"><img src="/theme_assets/images/dashboard-icon.svg" alt="Dashboard"><span>Dashboard</span></a></li>
                <li><a href="/shopify/products"><img src="/theme_assets/images/user-icon.svg" alt="Fetch Shopify Products"><span>Fetch Shopify
                Products</span></a></li>
                <li><a href="/shopify/collections"><img src="/theme_assets/images/fetch-shopify-categories-icon.svg" alt="Fetch Shopify Categories"><span>Fetch
                Shopify Categories</span></a></li>
                <li><a href="/shopify/pages"><img src="/theme_assets/images/fetch-shopify-icon.svg" alt="Fetch Shopify Pages"><span>Fetch Shopify
                Pages</span></a></li>
            </ul>
        </div>
        <div class="left-menu">
            <h2 class="second-title">Tools & Components</h2>
            <ul>
                <li><a href="/audit/siteAudit"><img src="/theme_assets/images/proicons-checkbox-unchecked.svg" alt="Site Audit"><span>Site Audit</span></a></li>
                <li><a href="/crawler/keywords"><img src="/theme_assets/images/cards-icon.svg" alt="Find Keywords"><span>Find Keywords</span></a></li>
                <li><a href="/crawler/homePage"><img src="/theme_assets/images/proicons-checkbox-unchecked.svg" alt="Home Page Crawl"><span>Home Page
                Crawl</span></a></li>
                <li><a href="/crawler/allPages"><img src="/theme_assets/images/proicons-checkbox-unchecked.svg" alt="Find Broken Link - Full Site"><span>Find
                Broken Link - Full Site</span></a></li>
                
                <!-- <li><a href="#"><img src="/theme_assets/images/typography-icon.svg" alt="Typography"><span>Typography</span></a></li>
                <li><a href="#"><img src="/theme_assets/images/tea-cup-icon.svg" alt="Icons"><span>Icons</span></a></li> -->
            </ul>
        </div>
        <div class="quick-access">
            <!-- Quick Access Start -->
            <div class="card">
                <div class="card-header">Quick Access</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="#">Keyword Research</a></li>
                        <li class="list-group-item"><a href="#">Site Audit</a></li>
                        <li class="list-group-item"><a href="#">Backlink Checker</a></li>
                        <li class="list-group-item"><a href="#">Content Analysis</a></li>
                    </ul>
                </div>
            </div>
            <!-- Quick Access End -->
            <!-- Recent Activity Start -->
            <div class="card">
                <div class="card-header">Recent Activity</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="#">New blog post published</a></li>
                        <li class="list-group-item"><a href="#">50 broken links fixed</a></li>
                        <li class="list-group-item"><a href="#">XML sitemap updated</a></li>
                    </ul>
                </div>
            </div>
            <!-- Recent Activity End -->
        </div>
    </div>
    <div class="bottom-log-out left-menu" >
        <ul>
            <li>
                <a href="/auth/logout"><img src="/theme_assets/images/setting-icon.svg" alt=""><span>Sign out</span></a>
            </li>
        </ul>
    </div>
</div>